<h1>Ethereum Lottery</h1>

<ol>How to play:
	<li>Send 0.2 ether (exact) to address 0xC56c7dA40CDEB18b75f10f6D817a9Ca34cF450f8 (TESTNET Ropsten at the moment)</li>
	<li>After 5 people have sent 0.2 ether, the contract chooses one address at random and sends 0.8 ethers to that account and 0.2 to <%= link_to "GiveDirectly", "http://www.GiveDirectly.com"%></li>
	<li>The game restarts</li>
	<li>sourcecode: <%= link_to 'ethereum lottery', "https://github.com/CrazybutSolid/ethereum-lottery" %> </li>
</ol>
<h3>Last Lottery winner: <span id="lastwinner"></span></h3>
<p>The number of sign ups so far is</p>
<p id="signups"></p>
<p>the list of sign ups so far:</p>
<ol>
	<li id="gamblers1"></li>
	<li id="gamblers2"></li>
	<li id="gamblers3"></li>
	<li id="gamblers4"></li>
	<li id="gamblers5"></li>
</ol>
<script type="text/javascript">
if (typeof web3 !== 'undefined') {
  web3 = new Web3(web3.currentProvider);
} else {
	var Web3 = require('web3');
	var web3 = new Web3(new Web3.providers.HttpProvider('https://ropsten.infura.io/gZsX6A6SplPQZ1ScPjXA'));
	//var web3 = new Web3(new Web3.providers.HttpProvider('https://ropsten.infura.io/lw3MDy2ASTmOSg0e6aaj'));
	var version = web3.version.api;
	    var contractABI = [ { "constant": true, "inputs": [ { "name": "", "type": "uint256" } ], "name": "gamblers", "outputs": [ { "name": "", "type": "address", "value": "0x0000000000000000000000000000000000000000" } ], "payable": false, "type": "function" }, { "constant": true, "inputs": [], "name": "random", "outputs": [ { "name": "", "type": "uint256", "value": "0" } ], "payable": false, "type": "function" }, { "constant": true, "inputs": [], "name": "my_length", "outputs": [ { "name": "", "type": "uint256", "value": "0" } ], "payable": false, "type": "function" }, { "constant": true, "inputs": [], "name": "winner", "outputs": [ { "name": "", "type": "address", "value": "0x0000000000000000000000000000000000000000" } ], "payable": false, "type": "function" }, { "inputs": [], "payable": false, "type": "constructor" }, { "payable": true, "type": "fallback" } ];
	    if (contractABI != ''){
	        var MyContract = web3.eth.contract(contractABI);
	        var myContractInstance = MyContract.at("0xC56c7dA40CDEB18b75f10f6D817a9Ca34cF450f8");
	        var signups = myContractInstance.player_count();
	        var gamblers1 = myContractInstance.gamblers(1);
	        var gamblers2 = myContractInstance.gamblers(2);
	        var gamblers3 = myContractInstance.gamblers(3);
	        var gamblers4 = myContractInstance.gamblers(4);
	        var gamblers5 = myContractInstance.gamblers(5);
	        var lastwinner = myContractInstance.winner();
	         document.getElementById("signups").innerHTML = signups;
	         document.getElementById("gamblers1").innerHTML = gamblers1;
	         document.getElementById("gamblers2").innerHTML = gamblers2;
	         document.getElementById("gamblers3").innerHTML = gamblers3;
	         document.getElementById("gamblers4").innerHTML = gamblers4;
	         document.getElementById("gamblers5").innerHTML = gamblers5;
	         document.getElementById("lastwinner").innerHTML = lastwinner;

	    } else {
	        console.log("Error" );
	    }            
	
}
</script>